<div class="cta">
  <div class="container">
    <div class="row">
      <div class="span5">
        <div class="ctas">
          <!-- Title and Para -->
          <h5>Get Update Notifications on Twitter:</h5>
          <div class="ctas">
            <a href="https://twitter.com/wpplugindex" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @wpplugindex</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="ctas">
          <h5>Share:</h5>
          <!-- List -->
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wpplugindex.com" data-via="wpplugindex">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <br>
          <script type="text/javascript" src="http://en.reddit.com/static/button/button1.js"></script>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <span class="span3 offset9"><%= @stats.created_at.strftime("Published %b %d,%Y")  %></span>
</div>

<div class="row">

  <div class="span6">

    <!-- Pricing table #1. Class name "col-left" -->
    <div class="col-left pricel center">
      <div class="phead-top">
        <!-- Title -->
        <h4>Hottest</h4>
      </div>
      <div class="plist">
        <!-- List -->
        <ul>
          <% @stats.hottest.each do |plugin| %>
            <li><%= link_to plugin[1], wordpress_url( plugin[2] ) %><br><%= plugin[3] %>% increase</li>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- Pricing table #2. Class name "col-right" -->
    <div class="col-right pricel center">
      <div class="phead-top">
        <h4>Top Weekly</h4>
      </div>
      <div class="plist">
        <ul>
          <ul>
            <% @stats.top_weekly.each do |plugin| %>
                <li><%= link_to plugin[1], wordpress_url( plugin[2] ) %><br><%= number_with_delimiter( plugin[3] ) %> Downloads</li>
            <% end %>
          </ul>
        </ul>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

  <div class="span6">

    <!-- Pricing table #3. Class name "col-left" -->
    <div class="col-left pricel center">
      <div class="phead-top">
        <h4>New this Week</h4>
      </div>
      <div class="plist">
        <ul>
          <% @stats.newest.each do |plugin| %>
              <li><%= link_to plugin[1], wordpress_url( plugin[2] ) %><br><%= number_with_delimiter( plugin[3] ) %> Downloads</li>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- Pricing table #4. Class name "col-right" -->
    <div class="col-right pricel center">
      <div class="phead-top">
        <h4>Total Downloads</h4>
      </div>
      <div class="plist">
        <ul>
          <% @stats.total.each do |plugin| %>
              <li><%= link_to plugin[1], wordpress_url( plugin[2] ) %><br><%= number_with_delimiter( plugin[3] ) %> Downloads</li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="clearfix"></div>

  </div>
</div>

