
<div class="row">
  <span class="span8"></span>
  <span class="span4 " style="text-align: right"><%= @stats.created_at.strftime("Published %b %d,%Y") unless @stats.created_at.nil?  %></span>
</div>

<div class="row">

  <div class="span6">

    <!-- Pricing table #1. Class name "col-left" -->
    <div class="col-left pricel center">
      <div class="phead-top">
        <!-- Title -->
        <h4>Hottest</h4>
      </div>
      <div class="plist">
        <!-- List -->
        <ul>
          <% @stats.hottest.first(10).each do |plugin| %>
            <li><%= link_to plugin[1], wordpress_url( plugin[2] ) %><br><%= plugin[3] %>% increase</li>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- Pricing table #2. Class name "col-right" -->
    <div class="col-right pricel center">
      <div class="phead-top">
        <h4>Top Weekly</h4>
      </div>
      <div class="plist">
        <ul>
          <ul>
            <% @stats.top_weekly.first(10).each do |plugin| %>
                <li><%= link_to plugin[1], wordpress_url( plugin[2] ) %><br><%= number_with_delimiter( plugin[3] ) %> Downloads</li>
            <% end %>
          </ul>
        </ul>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

  <div class="span6">

    <!-- Pricing table #3. Class name "col-left" -->
    <div class="col-left pricel center">
      <div class="phead-top">
        <h4>New this Week</h4>
      </div>
      <div class="plist">
        <ul>
          <% @stats.newest.first(10).each do |plugin| %>
              <li><%= link_to plugin[1], wordpress_url( plugin[2] ) %><br><%= number_with_delimiter( plugin[3] ) %> Downloads</li>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- Pricing table #4. Class name "col-right" -->
    <div class="col-right pricel center">
      <div class="phead-top">
        <h4>Total Downloads</h4>
      </div>
      <div class="plist">
        <ul>
          <% @stats.total.first(10).each do |plugin| %>
              <li><%= link_to plugin[1], wordpress_url( plugin[2] ) %><br><%= number_with_delimiter( plugin[3] ) %> Downloads</li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="clearfix"></div>

  </div>
</div>

